@tailwind base;
@tailwind components;
@tailwind utilities;

/* **Utility Classes** */
@layer utilities {
  /* Hide number arrows on inputs */
  .hide-number-arrows::-webkit-inner-spin-button,
  .hide-number-arrows::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
  .hide-number-arrows {
    appearance: textfield;
  }

  /* Gradient Masks */
  .gradient-mask-x {
    mask-image: linear-gradient(to right, transparent 15%, rgb(126, 96, 96) 50%, transparent 85%);
  }
  .gradient-mask-y {
    mask-image: linear-gradient(to top, transparent 15%, rgba(0, 0, 0, 1) 50%, transparent 85%);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/** *Native Overrides* **/
strong {
  @apply font-semibold;
}
